/*hacemos que el 'body'tenga una imagen de fondo*/
body{
background-size:cover;/*gue la imagen ocupe toda la página*/
/*añadimos transperencia a la imagen de fondo*/
background-image: url(../figuras/astrologia.jpg);
}

/*Establecemos el formato para h3, h4 y p*/
h3{color:green;}
h4{color:blue;}
h5{color:white; font-size:12pt; font-family:"Verdana",sans-serif}
